<div class="risk-analyse">
  <br>
  <br>
  <mat-label>Risikobereitschaft</mat-label>
  <br>
  <mat-radio-group [(ngModel)]="riskTolerance">
    <mat-radio-button value="LOW_RISK" (click)="changeRiskToleranceLow()">Ich gehe leichte Risiken ein
    </mat-radio-button>
    <br>
    <mat-radio-button value="MID_RISK" (click)="changeRiskToleranceMid()">Ich gehe Risiken ein</mat-radio-button>
    <br>
    <mat-radio-button value="HIGH_RISK" (click)="changeRiskToleranceHigh()">Das Risiko spielt für mich keine Rolle
    </mat-radio-button>
    <br>
  </mat-radio-group>
  <br>
  <mat-label>Angestrebte Rendite</mat-label>
  <br>
  <mat-radio-group [(ngModel)]="expectedYield">
    <mat-radio-button value="OUTSTRIPPING_INFLATION" (click)="changeExpectedYieldLow()">Ich möchte die Inflation
      übertreffen
    </mat-radio-button>
    <br>
    <mat-radio-button value="BALANCED_YIELD" (click)="changeExpectedYieldMid()">Ich möchte eine gute Rendite erzielen
    </mat-radio-button>
    <br>
    <mat-radio-button value="YIELD_FIRST" (click)="changeExpectedYieldHigh()">Mir ist die Rendite am wichtigsten
    </mat-radio-button>
    <br>
  </mat-radio-group>
  <br>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Laufzeit in Jahren</mat-label>
      <br>
      <input matInput type="text" formControlName="duration" placeholder="3" (change)="changeDuration()"><br>
    </mat-form-field>
    <button mat-button (click)="submitRiskProfile()">Weiter</button>
  </form>
</div>
