<div class="portfolio-view">
  <mat-grid-list cols="10" style="width: 1400px" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <app-portfolio-details></app-portfolio-details>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <app-product-search (productSelected)="getProductByName($event)"></app-product-search>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="7" *ngIf="!verticalRecommendationError">
      <iframe id="vertical-3" src="http://localhost:8083/optimizer_war_exploded/index.xhtml"
              (mouseover)="checkProductToPortfolio()"></iframe>
      <!-- Integration of vertical recommendation -->
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="7" *ngIf="verticalRecommendationError">
      <mat-label>Keine Produktempfehlungen verfügbar.</mat-label>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <div class="productView">
        <mat-label>Name: {{productForView.name}}</mat-label>
        <br>
        <mat-label>ISIN: {{productForView.isin}}</mat-label>
        <br>
        <mat-label>Produkttyp: {{productForView.productType}}</mat-label>
        <br>
        <mat-label>Region: {{productForView.region}}</mat-label>
        <br>
        <mat-label>Index Level: {{productForView.indexLevel}}</mat-label>
        <br>
        <mat-label>Performance gesamt: {{productForView.performanceTotal}}</mat-label>
        <br>
        <mat-label>Performance seit Jahresbeginn: {{productForView.performanceThisYear}}</mat-label>
        <br>
        <br>
        <button mat-button (click)="addProductToPortfolio()">Produkt hinzufügen</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="5">
      <app-portfolio-list></app-portfolio-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2" (click)="finishPortfolio()" *ngIf="!verticalOrderError">
      <buy-button></buy-button><!-- Integration of Vertical Order -->
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2" *ngIf="verticalOrderError">
      <form [formGroup]="verticalOrderForm">
        <mat-lable>Bestellung zur Zeit nicht möglich. Wir informieren Sie, sobald die Bestellung wieder verfügbar ist.
        </mat-lable>
        <br>
        <mat-form-field>
          <mat-label>E-Mail</mat-label>
          <br>
          <input matInput type="text" formControlName="mail"/><br>
        </mat-form-field>
        <br>
        <button mat-button (click)="sendInterest()">Interesse mitteilen</button>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>
