<div class="portfolio-view">
  <mat-grid-list cols="10" style="width: 1200px" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <app-portfolio-details></app-portfolio-details>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <app-product-search (productSelected)="getProductByName($event)"></app-product-search>
    </mat-grid-tile>
    <!-- Integration of Vertical 3 -->
    <mat-grid-tile [colspan]="3" [rowspan]="5">
      <iframe src="http://localhost:8083/optimizer_war_exploded/index.xhtml"></iframe>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <div class="productView">
        <mat-label>Name: {{productForView.name}}</mat-label>
        <br>
        <mat-label>ISIN: {{productForView.isin}}</mat-label>
        <br>
        <mat-label>Produkttyp: {{productForView.productType}}</mat-label>
        <br>
        <mat-label>Region: {{productForView.region}}</mat-label>
        <br>
        <mat-label>Index Level: {{productForView.indexLevel}}</mat-label>
        <br>
        <mat-label>Performance gesamt: {{productForView.performanceTotal}}</mat-label>
        <br>
        <mat-label>Performance seit Jahresbeginn: {{productForView.performanceThisYear}}</mat-label>
        <br>
        <br>
        <button mat-button (click)="addProductToPortfolio()">Produkt hinzufügen</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="4">
      <app-portfolio-list></app-portfolio-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
    <!-- Integration of Vertical 2 -->
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <!-- TODO INTEGRATION -->
      <button>Vertical 2</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
