<div class="portfolio-list">
  <!--  ['Investment-Themen 0', 'Aktienfonds 1', 'Anleihenfonds 2', 'Geldmarktfonds 3', 'Rohstoffe 4'],-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="scrollable-content" style="height: 400px; width: 480px; overflow-y: scroll">
    <mat-list id="investment-list" *ngIf="investmentListVisible">
      <div mat-subheader>Investment-Themen</div>
      <mat-list-item *ngFor="let productInvestmentList of investmentList">
        <span><h3> {{productInvestmentList.name}} </h3></span>
        <span><p> {{productInvestmentList.region}} </p></span>
        <p style="width: 70px;"> {{getProductValue(investmentList.length, getProductWeightingQuotesFromDataService(0))}}
          €</p>
        <button mat-button color="warn" (click)="deleteProduct(0, productInvestmentList.isin)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list id="shares-list" *ngIf="sharesListVisible">
      <div mat-subheader>Aktienfonds</div>
      <mat-list-item *ngFor="let productShares of sharesList">
        <span><h3> {{productShares.name}} </h3></span>
        <span><p> {{productShares.region}} </p></span>
        <p style="width: 70px;"> {{getProductValue(sharesList.length, getProductWeightingQuotesFromDataService(1))}}
          €</p>
        <button mat-button color="warn" (click)="deleteProduct(1, productShares.isin)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list id="bond-list" *ngIf="bondListVisible">
      <div mat-subheader>Anleihenfonds</div>
      <mat-list-item *ngFor="let productBonds of bondList">
        <span><h3> {{productBonds.name}} </h3></span>
        <span><p> {{productBonds.region}} </p></span>
        <p style="width: 70px;"> {{getProductValue(bondList.length, getProductWeightingQuotesFromDataService(2))}} €</p>
        <button mat-button color="warn" (click)="deleteProduct(2, productBonds.isin)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list id="money-market-list" *ngIf="moneyMarketListVisible">
      <div mat-subheader>Geldmarktfonds</div>
      <mat-list-item *ngFor="let productMoneyMarket of moneyMarketList">
        <span><h3> {{productMoneyMarket.name}} </h3></span>
        <span><p> {{productMoneyMarket.region}} </p></span>
        <p
          style="width: 70px;"> {{getProductValue(moneyMarketList.length, getProductWeightingQuotesFromDataService(3))}}
          €</p>
        <button mat-button color="warn" (click)="deleteProduct(3, productMoneyMarket.isin)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list id="commodity-list" *ngIf="commodityListVisible">
      <div mat-subheader>Rohstoffe</div>
      <mat-list-item *ngFor="let productCommodity of commodityList">
        <span><h3> {{productCommodity.name}} </h3></span>
        <span><p> {{productCommodity.region}} </p></span>
        <p style="width: 70px;"> {{getProductValue(commodityList.length, getProductWeightingQuotesFromDataService(4))}}
          €</p>
        <button mat-button color="warn" (click)="deleteProduct(4, productCommodity.isin)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
