<div class="portfolio-details">
  <div style="display: block">
    <div class="chart-wrapper">
      <canvas baseChart id="optimalcanvas">
      </canvas>
    </div>
  </div>
  <br>
  <!--  <div style="display: block">-->
  <!--    <div class="chart-wrapper">-->
  <!--      <canvas baseChart id="portfolio-canvas"-->
  <!--              [data]="portfolioChartData"-->
  <!--              [labels]="portfolioChartLabels"-->
  <!--              [chartType]="portfolioChartType">-->
  <!--      </canvas>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
